* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
.appWrapNo * {
  line-height: 1.6em;
}
.appWrapNo p {
  font-size: 1.688em;
  text-align: left;
  width: calc(100% - 100px);
  margin: 0px auto 60px auto;
}
.appWrapNo img {
  width: calc(100% - 100px);
  margin: 0 auto;
}
.appWrapNo .btnPopup {
  font-size: 1em;
  background-color: #ffbb28;
  border-bottom: 2px solid #000;
  font-weight: bold;
}
.appWrapNo h1 {
  margin-top: 45px;
  color: #626363;
  font-size: 3.75em;
}

.appWrapNo h2 {
  margin: 10px auto 0px auto;
  font-size: 2.375em;
  width: calc(100% - 268px);
}
.appWrapNo .hash {
  color: #0095ff;
  font-weight: bold;
  font-size: 1.37em;
  text-align: center;
  margin-top: 5px;
}
.appWrapNo .firstTxt {
  margin: 60px auto 60px auto;
  width: calc(100% - 100px);
  font-size: 1.688em;
  text-align: left;
}
.appWrapNo .pointTxt {
  font-size: 1.688em;
  color: #808080;
  text-align: left;
  margin: 60px auto;
  display: table;
  font-style: italic;
}
.appWrapNo .grayBox {
  position: relative;
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom: 60px;
  width: 600px;
  height: 18px;
}
.appWrapNo .grayBox .grayBoxImg {
  position: absolute;
  top: 6px;
  left: 0;
  width: 16px;
}
.appWrapNo .grayBox > p {
  font-size: 1.06em;
  color: #7c7c7c;
  position: absolute;
  top: 0;
  left: 23px;
  text-align: left !important;
}
.appWrapNo .puple {
  background-color: #ecebf8;
  border-radius: 20px;
  color: #5c709e;
  width: calc(100% - 186px);
  margin: 60px auto 0px auto;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}
.appWrapNo .puple .imgandTxt {
  width: calc(100% - 100px);
  text-align: left;
  margin: 0 auto;
  font-size: 1.45em;
}
.appWrapNo .puple .imgandTxt .pin {
  width: 16px;
}
.appWrapNo .puple p {
  font-size: 1.25em;
  margin-top: 30px;
  margin-bottom: 0px;
}
.imgandTxt {
  position: relative;
}

